body {
  
  /* background-color: rgb(232, 246, 255); */
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin-top: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: -webkit-linear-gradient(90deg, rgb(248, 8, 8) 10%, rgb(10, 253, 253) 90%);
}

#header {
  border:1px solid rgb(194, 197, 12);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(201, 240, 30);
  height: 56px;
  /* padding-left: 15px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* #header span {
  font-size: 24px;
  color: white;
  padding-right: 15px;
} */

#header a {
  padding-left: 15px;
}


#container {
  background-color: #88190a;
  box-shadow: 2px 2px 5px#000;
  width: 50%;
  min-width: 700px;
  border-radius: 5px;
}

#inputContainer {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-bottom: 25px;
}

#toDoInput {
  outline: none;
  width: 75%;
  padding-left: 10px;
  font-size: 20px;
  border: none;
  border-radius: 4px;
}

#addButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  margin-left: 10px;
  border-radius: 15px;
  cursor: pointer;
  height: 35px;
  background: -webkit-linear-gradient(90deg, rgb(15, 248, 46) 10%, rgb(255, 255, 255) 90%);
  color: black;
  font-size: 20px;
}
#addButton:active{
  color:red;
}

#toDoContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  cursor: pointer;
}

.toDoShell {
  width: 650px;
  min-height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #fff;
  margin-bottom: 10px;
  border-radius: 5px;
  font-size: 20px;
  padding: 5px;
}

.toDoShell span {
  width: 90%;
}
.completeText {
  color: lightgrey;
  text-decoration: line-through;
}

.completeCheckbox {
  
  width: 7%;
  height: 40%;
  cursor:pointer;
  border-radius: 35px;
  background-color: green;
}
.completeCheckbox:active{
  background-color: green;
}

#date{
   
 
   margin-right: 3%;
   color:black;
   font-style: italic;
}

